.section-first {
	padding-top: 18px;
	padding-bottom: 22%;
	@media (min-width: 768px) {
		padding-top: 29px;
	}
	background-color: $l-green-bg-color;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 65% auto;
	background-image: $car3-m-url;
	@media (min-width: 768px) {
		background-image: $car3-url;
	}
	&__header {
		margin-top: 0;
		margin-bottom: 14px;
		font-size: 16px;
		font-weight: 600;
		line-height: 21px;
		@media (min-width: 768px) {
			margin-bottom: 25px;
			font-size: 24px;
			line-height: 34px;
		}
	}
	&__txt {
		margin-bottom: 28px;
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		color: #505050;
		@media (min-width: 768px) {
			font-size: 18px;
			line-height: 29px;
		}
		p {
			margin-top: 0;
    		margin-bottom: 14px;
		}
	}
	&__list {
		padding: 20px;
    	background-color: #f3f6f4;
    	@media (min-width: 991px) {
    		padding: 0;
		    background-color: transparent;
		    display: -webkit-box;
		    display: flex;
		    justify-content: space-between;
    	}	
	}
	&__list-part {
		@media (min-width: 991px) {
			width: calc(50% - 20px);
		    padding: 20px;
		    background-color: #f3f6f4;
		}
		li {
			margin-bottom: 18px;
		    padding-left: 28px;
		    position: relative;
		    font-size: 14px;
		    line-height: 1.5;
		    color: #505050;
		    @media (min-width: 768px) {
		    	padding-left: 36px;
    			font-size: 18px;
		    }
		    @media (min-width: 991px) {
		    	&:last-child {
				    margin-bottom: 0;
				}
		    }
		    &:before {
		    	content: "";
			    display: inline-block;
			    position: absolute;
			    left: 0;
			    top: 4px;
			    width: 14px;
			    height: 14.7px;
			    background-repeat: no-repeat;
			    background-position: center;
			    background-size: contain;
			    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' height='16.8px' viewBox='0 0 16 16.8'%3E%3Cpath fill='%2300AB4E' d='M5.97,16.8c-0.54,0-0.99-0.22-1.34-0.67l-4.32-5.66c-0.26-0.38-0.35-0.8-0.29-1.25 c0.06-0.45,0.27-0.82,0.62-1.1c0.35-0.29,0.76-0.4,1.22-0.34C2.33,7.84,2.71,8.06,3,8.44l2.83,3.7l7.1-11.38 c0.26-0.38,0.6-0.62,1.03-0.72c0.43-0.1,0.86-0.03,1.27,0.19c0.38,0.26,0.62,0.6,0.72,1.03c0.1,0.43,0.03,0.86-0.19,1.27 l-8.4,13.44c-0.32,0.51-0.77,0.77-1.34,0.77L5.97,16.8z'/%3E%3C/svg%3E")
		    }
		}
	}
}