.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $footer-bg-color;
	color: $footer-f-color;
	font-size: 14px;
	line-height: 21px;
	.footer-block {
		&:last-child {
			display: none;
		}
	}
	@media (min-width: 768px) {
		.container {
			display: flex;
			justify-content: space-between;
		}

		.footer-block {
			&:last-child {
				display: block;
				width: 45%;
			}
		}
	}
}