.modal-ok {
	display: none;
	&__bg {
		position: fixed;
		z-index: 20;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, .6);
	}
	&__window {
		@include centerer-xy(fixed);
		z-index: 21;
		width: 320px;
		padding: 50px 15px 25px;
		@media (min-width: 768px) {
			width: 480px;
			padding-left: 40px;
			padding-right: 40px;
		}
		background-color: #fff;
	}
	&__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		background-color: $l-green-bg-color;
		cursor: pointer;
		transition: background-color .3s;
		svg {
			@include centerer-xy;
			width: 20px;
			height: 20px;
			fill: $grey-bg-color;
		}
		&:hover {
			background-color: darken($l-green-bg-color, 7%);
		}
	}
	&__content {
		font-size: 20px;
    	line-height: 26px;
    	text-align: center;
    	font-weight: 600;
	}
}

/* preloader */
.wait-spin {
  animation: wait-spin 2s infinite linear;
}

@keyframes wait-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.page-preloader {
	display: none;
	position: fixed;
	z-index: 20;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.6);
	&__spinner {
		@include centerer-xy(fixed);
		width: 50px;
		height: 40.6px;
		svg {
			@include centerer-xy;
			width: 100%;
			height: auto;
			fill: $green;
		}
	}
}
/* /preloader */