@mixin centerer-xy($position: absolute) {
	position: $position;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin centerer-x($position: absolute) {
	position: $position;
	left: 50%;
	transform: translateX(-50%);
}

@mixin centerer-y($position: absolute) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}

@mixin clear {
  padding: 0;
  margin: 0;
}

@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}